<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Medowlark Travel</title>
</head>
<body>
	<header><img src="/img/222.jpg" alt="Meadowlark Travel Logo"></header>
	{{{body}}}
</body>
</html>