{{#section 'head'}}
<meta name="robots" content="noindex">
{{/section}}

<h1>test page</h1>
<p>We're testing some jQuery stuff.</p>

{{#section 'jquery'}}
<script>
	$(function() {
		$('h1').html('jquery works');
	});
</script>
{{/section}}